.about {
	padding: 51px 0 57px;

	&__body {
		display: flex;
		justify-content: space-between;
		margin: 37px -15px 0;
	}
	.about-column {
		flex: calc(33.333% - 30px);
		max-width: 360px;
		margin: 0 15px;

		&__img {
			width: 100%;
		}
		&__title {
			font-size: 18px;
			line-height: 22px;
			font-weight: 700;
			color: $accent;
			text-align: center;
			margin-top: 28px;
		}
		&__descr {
			font-size: 14px;
			line-height: 22px;
			font-weight: 300;
			color: $main;
			text-align: justify;
			margin-top: 7px;
		}
	}
}