.main {
    background-image: linear-gradient(rgba($dark, 0.7), rgba($dark, 0.7)), url('img/main/bg.jpg');
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 23px 0 82px;

    &__body {
        margin-top: 9px;
    }
    &__text {
        font-size: 24px;
        line-height: 1.2;
        font-weight: 300;
        text-align: center;
        color: $light;
    }
    &__title {
        font-family: $font-additional;
        font-size: 72px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: $accent;
        margin-top: 26px;
    }
    &__subtitle {
        font-family: $font-additional;
        font-size: 42px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        color: $light;
        margin-top: 9px;
    }
    &__divider {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 809px;
        margin: 38px auto 0;

        span {
            display: block;
            width: 10px;
            height: 10px;
            background-color: $light;
            border-radius: 50%;
            margin: 0 10px;
        }

        &::before,
        &::after {
            content: "";
            display: inline-block;
            width: calc(50% - 15px);
            height: 1px;
            background-color: $light;
        }
    }
    .main-about {
        display: flex;
        justify-content: space-between;
        margin: 0 -15px;

        &__column {
            flex: calc(25% - 30px);
            display: flex;
            flex-direction: column;
            margin: 30px 15px 0;
        }
        &__item {
            max-width: 260px;
            margin: 0 auto; 
        }
        &__img {
            flex: 1;

            img {
                display: block;
                margin: 0 auto; 
            }
        }
        &__descr {
            flex: 1;
            font-size: 16px;
            line-height: 22px;
            font-weight: 300;
            text-align: center;
            color: $light;
            margin-top: 19px;
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 39px;
    }
}