.managers {
	background-image: linear-gradient(rgba($dark, 0.7), rgba($dark, 0.7)), url('img/managers/bg.jpg');
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
	padding: 58px 0 75px;
}