.section-title {
	font-size: 26px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: $dark;

	&_white {
		text-transform: none;
		color: $light;
		margin-top: 20px;
	}
}