.section-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 102px;
	height: 102px;
	border-radius: 50%;
	border: 1px solid $light;
	margin: 0 auto;

	img {
		max-width: 100%;
	}
}