//Colors
$accent: #ec644b;
$main: #3a3a3a;
$light: #fff;
$dark: #2e2e2e;
$bg: #f3f3f3;
$bg-price: #25333c;
$border-price: #e9e9e9;
$btn-hover: #dc5238;

//Fonts
$font-main: 'Roboto', sans-serif;
$font-additional: 'Roboto Condensed', sans-serif;

//Media breakpoints
$md1: 1024px;
$md2: 992px;
$md3: 768px;
$md4: 576px;
$md5: 480px;
$md6: 425px;
$md7: 375px;
$minw: 320px;
$maxw: 1200px;
$container: 1140px;